<h1>Listagem de Restaurantes</h1>
<table>
<tr>
	<th>ID</th>
	<th>Nome</th>
	<th>Endereço</th>
	<th>Especialidade</th>
</tr>
<% @lojas.each do |loja| %>
<tr>
	<td><%= loja.id %> </td>
	<td><%= loja.nome %> </td>
	<td><%= loja.endereco %> </td>
	<td><%= loja.especialidade %> </td>
	<td><%= link_to "Detalhes", loja_path(loja) %></td>	 
	<td><%= link_to "Editar", edit_loja_path(loja)%></td>
	<td><%= link_to "Deletar", {action: "destroy", id: loja}, {method: "delete"} %></td>
</tr>
<% end %>
</table>

<%= link_to 'Novo', new_loja_path %>


